.wrap {
  height: 100vh;
}

.scroll-wrap {
  /*box-sizing: border-box;*/
  /*height: 100%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: space-between;*/
}
.chat-news{
  padding-bottom: 170px;
}
.new-lf {
  display: flex;
  justify-content: flex-end;
  padding: 2vw 2vw 2vw 11vw;
}

.new-rl {
  display: flex;
  padding: 2vw 11vw 2vw 2vw;
}

.new-txt {
  color: #444;
  line-height: 7vw;
  background-color: #F5F6FA;
  margin-left: 2vw;
  border-radius: 10px;
  z-index: 10;
  align-self: center;
  padding: 2vw;
  font-size: 4vw
}

.new-lf .new-txt {
  background-color: #96eb6a;
}

.new-image {
  width: 11vw;
  height: 11vw;
  border-radius: 10px;
}

.message-warp {
  position: fixed;
  width: 100%;
  bottom: 40px;
  left: 40px;
  z-index: 20;
}

.message-text {
  height: 110px;
  width: 670px;
  line-height: 110px;
  padding-left: 60px;
  padding-right: 120px;
  font-size: 32px;
  color: #333;
  background-color: #fff;
  border-radius: 60px;
  box-shadow: 0px 0px 100px 10px #ddd;
  box-sizing: border-box;
}

.message-btn {
  position: absolute;
  right: 100px;
  top: 10px;
  height: 90px;
  width: 90px;
  background-color: #0E4AFB;
  border-radius: 45px;
}

.message-btn.loading {
  opacity: .65;
}

.message-btn-icon {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 60px;
  height: 60px;
}
