
.message-warp {
  position: fixed;
  width: 100%;
  bottom: 40px;
  left: 40px;
  z-index: 20;
}

.message-text {
  height: 110px;
  width: 670px;
  line-height: 110px;
  padding-left: 60px;
  padding-right: 120px;
  font-size: 32px;
  color: #333;
  background-color: #fff;
  border-radius: 60px;
  box-shadow: 0px 0px 100px 10px #ddd;
  box-sizing: border-box;
}

.message-btn {
  position: absolute;
  right: 100px;
  top: 10px;
  height: 90px;
  width: 90px;
  background-color: #0E4AFB;
  border-radius: 45px;
}

.message-btn.loading {
  opacity: .65;
}

.message-btn-icon {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 60px;
  height: 60px;
}
